name: Build

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build:
    uses: ./.github/workflows/build-reusable.yml
    with:
      artifact-retention-days: 7
